<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>فراموشی رمز عبور</title>
</head>
<body>
<h2> سلام {{name}} عزیز </h2>
<p>برای تغییر رمز عبور فراموش شده بر روی لینک زیر کلیک کنید</p>
<a href={{href}}>{{link}}</a>
</body>
</html>