<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>عضویت</title>
</head>
<body>
<h2> سلام بر شما </h2>
<p>برای تکمیل ثبت نام از کد زیر استفاده کنید</p>
<h3>{{code}}</h3>
</body>
</html>